<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  
  <ConnectionString>
    <add name="connsrng" ConnectionString="Data Source=DESKTOP-Q0QRNU9\SQLEXPRESS;Initial Catalog=Econtact;Integrated Security=True;"/>
    </ConnectionString>
</configuration>